# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\re.rep

*.gpr
.vs
*.suo
*.db
re.*
Debug
.vs

*.ipch
*.db
Teamwork/.vs/Teamwork/v16/.suo
ghidra
*.7z # Entrega de archivos
Teamwork/PL4-4.7z
